<div class="container" *ngIf="weatherData">

    <div class="upper-data">
      <img src="hot.jpg" alt="hot weather" *ngIf="weatherData.main.temp > 260" />
      <img src="cold.jpg" alt="cold weather" *ngIf="weatherData.main.temp <= 260" />
      <div class="weather-data">
        <div class="location">{{ weatherData.name }}</div>
        <div class="temperature">{{ weatherData.main.temp }}K</div>
      </div>
    </div>
  
    <div class="lower-data">
      <div class="more-info-label">
        More Information
      </div>
      <div class="more-info-container">
        <div class="info-block">
          <div class="info-block-label">
            <img src="min.png" alt="minimum temperature">
            <span>Min</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.main.temp_min }}K
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="max.png" alt="maximum temperature">
            <span>Max</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.main.temp_max }}K
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="humidity.png" alt="humidity">
            <span>Humidity</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.main.humidity }}%
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="wind.png" alt="wind speed">
            <span>Wind</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.wind.speed }} km/h
          </div>
        </div>
      </div>
    </div>
  </div>